body{
		
		background-color: #f8f4ff;
	}



.layer1{
	fill:#245829;
	stroke:#133E07;
	stroke-width:5;
	
}

.layer2{
	fill:#46954A;
	stroke:#467348;
	stroke-width:5;
	
}

.layer3{
	fill:#B4F1B4;
	stroke:#418F2D;
	stroke-width:5;
	
}

.font {
	font-size: 28px;
	font-family: 'Comfortaa';
	fill: lightgrey;

}

.font1{
	font-size: 16px;
	font-family: 'Comfortaa';
	fill: dimgray;
}


.editorlink {
		text-align: center;
		display: block;
		text-decoration: none;
  		color:black ;
  		font-family: 'Comfortaa';
	}

	.font:hover{
		background-color: lightgreen;
	}

	/*nav bar css*/

	nav{
    height: 80px;
    background:rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    width: 1350px;

}
.logo{
    font-size: 33px;
    color: #fff;
    font-weight: 600;
}
nav ul{
    display: flex;
    list-style: none;

}
nav ul li{
    margin: 0 5px
}


nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius:5px ;

}
nav ul a:hover{
    color: #1b1b1b;
    background:#fff ;
}
